* {
    padding: 0;
}

body {
    
    background: blue;
    
} 

#conten {
    
    padding: 3% 0px 0px 40%
    
}

#link {
    
    padding: 0px 0px 0px 25%;
    
}

label, .info {
    
    color: black;
    font-weight: bold;
}

.con{
    
    width: 40%;
    padding: 0px 0 0px 100px;
    
}



